body {
	margin: 0;
}

.header {
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	width: 980px;
}

#logo {
	height: 90px;
	padding: 10px;
	flex: 4;
	border: 1px solid red;
}

#logo img {
	height: 100%;
}

#banner {
	flex: 6;
	height: 90px;
	padding: 10px;
	border: 1px solid red;
}

#banner: {
	display: block;
	max-width: 100%;
}
