html {
	font-family: sans-serif;
}

body {
	margin: 0;
}

.header {
	border-bottom: 1px solid #ddd;
}

.container {
	margin: 0 auto;
	width: 980px;
}

.content {
	display: flex;
}

#logo {
	height: 90px;
	padding: 10px;
	border: 1px solid red;
}

#logo img {
	height: 100%;
}

#banner {
	height: 90px;
	padding: 10px;
	border: 1px solid red;
}

#banner img {
	display: block;
	max-width: 100%;
}

.menu ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	border: 1px solid red;
}

.menu ul li {
	display: block;
}

.menu ul li a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 10px 10px;
}

.slider {
	border: 2px solid red; 
	height: 400px; 
	margin-top: 40px;
	display: flex;
}
	
.slider-lv1 {
	flex: 1;
	border: 2px solid blue;
}

.slider-lv2 {
	height: 49%;	
	border: 2px solid yellow;
	display: flex;
}

.slider-lv3 {
	flex: 1;
	border: 2px solid black;
}
